.footer {
    padding: 10px 0;
    background-color: #31bcd1;
    width: 100%;
    text-align: center;
    font-size: 18px;
    border-top: 10px solid #838688;
    border-bottom: 10px solid #838688;
}